html,
body {
  overflow-x: hidden;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background: rgb(254, 254, 254);
  background: radial-gradient(
    circle,
    rgba(254, 254, 254, 1) 0%,
    rgba(196, 196, 196, 1) 100%
  );
}

h1 {
  padding-left: 37px;
  /* color:#FFF */
}

h3 {
  padding-left: 37px;
  font-size: 21px;
}

h4 {
  padding-left: 23px;
  font-size: 18px;
}

li {
  padding: 3px;
}

.container {
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 7px;
}

.padding {
  padding: 12px;
  margin-left: 37px;
  margin-bottom: 24px;
}

.loading {
  padding: 12px;
  margin: 37px;
}

.padding-down {
  margin-bottom: 24px;
}

.ingredients {
  margin-left: 37px;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*   padding: 2em 0em; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 38px;
}

p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}
.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  margin-left: 37px;
  font-size: 14px;
  font-weight: 30;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}
